  *{
    color: #6979aa;
  }
  .form-inline{
    background-color: #143d77;
    height: 200px;
  }

  .body-card{
    background-color: #e9ecef;
  }

  #table tr{
    background-color: #c1e2fc;
  }
  
  #th th{
    background-color: #c1e2fc;
  }

  #th td{
    background-color: #f8f9fa;
  }

  .table1{
    background-color: white;
    height: 400px;
    overflow-y: scroll;
  }

  .card-header {
    background-color: white;
  }

  .pl{
    padding-left: 0;
  }

  .pr{
    padding-right: 0;
  }
  


